
.navbar-products{
    box-shadow: 0 0 1px #747474;
    padding: 8px 9px 8px 15px;
}
.navbar-products ul{

    display: flex;
    align-items: center;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    
    
}
.main-product{
    display: flex;
    width: 100%;
    
}
.left-product{
    width: 20%;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
}
.left-product div{
    cursor: pointer;
}
.left-product div:hover{
   color: gray;
}
.right-product{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); Responsive grid */
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: white;
    height: 400px;
    /* height:auto; */
    
 

}

.productLongCardItem{
    display: flex;
    
  
    gap:5px;
    cursor: pointer;
    flex-direction: column;
   margin:10px 8px 8px 20px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(247, 247, 247);
}
.productLongCardItemImg{
    width: 60%;
}

.productLongCardItemImgDetail{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.productLongCardItemImgTopDetail{
    display: flex;
    justify-content: space-evenly;
    gap:50px;
}
.star{
 
   font-size: 15px;
   color: rgb(236, 236, 98);
}

.productPercentageOff{
    padding: 4px 6px;
    background-color: #CC0C39;
    font-size: 12px;
    font-weight: 500;
    border-radius:2px ;
    color: white;
}
.productlimitedTimeDealhomeDetail{
    font-size: 12px;
    display: flex;
    align-items:center ;
}
.productbottomHomeDetail{
    font-size: 12px;
    padding: 2px 0;
}



